site_name: eryz's notes
site_url: https://gabriellagloria.github.io/eryz-notes
use_directory_urls: false
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - toc.follow
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
  palette: 
    # Palette toggle for light mode
    # - scheme: default
    #   toggle:
    #     icon: material/brightness-7 
    #     name: Switch to dark mode

    # # Palette toggle for dark mode
    # - scheme: slate
    #   toggle:
    #     icon: material/brightness-4
    #     name: Switch to light mode
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate 
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  logo: src/Kirby_Nintendo.png
  favicon: src/Kirby_Nintendo.png

plugins:
  - search
  - blog
  - tags:
      tags_file: tags.md

nav:
  - Home: index.md
  - About: 
    - About me: about/about.md
    # - Idk: about/idk.md
  - Tags: tags.md
  - Blog:
    - blog/posts/hello-world.md
  # - Codes:
  #   - Cpp: codes/cpp_is_love.md
  - NUS :
    - CS1010: NUS/CS101.md
    - CS1231S: NUS/CS1231S.md
    - CS2030S: NUS/CS2030S.md
    - CS2040S: NUS/CS2040S.md
    - CS2100: NUS/CS2100.md
    - CS2105: NUS/CS2105.md
    - CS2106: NUS/CS2106.md
    - CS2107: NUS/CS2107.md
    - CS2109S: NUS/CS2109S.md
  - CTF :
    - HTB:
      - Vaccine: CTF/HTB/Starting-Point/Vaccine.md
      - Unified: CTF/HTB/Starting-Point/Unified.md

repo_url: https://github.com/GabriellaGloria/eryz-notes
repo_name: GabriellaGloria/eryz-notes

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

# extra:
#   favicon: src/favicon.webp
# extra_css:
#   - src/favicon.css

